
<h1>Feedback</h1>
<div class="container">
  {{#each questions}}
  <div class="row">
    <input class="button-primary" type="button" value="{{this}}"></input>
  </div>
  {{/each}}
  <input class="my-question" type="text"/><input class="ask" type="button" value="Ask!"/> 
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
  $(document).ready(function(){

      var ajaxPost = function(url, val){
        var toPost = {value: val};
        return $.ajax({
          type: 'POST',
          url: url,
          data: JSON.stringify(toPost),
          contentType: 'application/json'
        });
      };

      $('input.button-primary').on('click', function(evt){
        var val = $(evt.target).val();
        ajaxPost('http://10.6.20.181:3000/feedback', val);
      });

      $('input.ask').on('click', function(evt){
        var val = $('input.my-question').val();
        ajaxPost('http://10.6.20.181:3000/question', val);
      });
  });
  </script>

