<h1>Result page</h1>
<div class="container">



  <!--

  {{#each feedbacks}}
  <div class="row">
    <div class="eight columns">
      <h4>{{this.feedback}}:</h1>
    </div>
    <div class="four columns">
      <h4>{{this.num}}</h1>
    </div>
  </div>
  {{/each}}
  -->

</div>

<script>
  $(document).ready(function(){
    var renderResult = function(data){
      $('div.container').html('');

      $.each(data, function(idx, item){
        var div =
        '<div class="row">'
        + '<div class="eight columns">'
        + '<h4>' + item.feedback + '</h4>'
        + '</div>'
        + '<div class="four columns">'
        + '<h4>' + item.num + '</h4>'
        + '</div>'
        + '</div>'
        $('div.container').append(div);
      });
    };
    var refreshResult = function(){
      $.get('/result-json').done(renderResult);
    };
    setInterval(refreshResult, 1000);
  });
</script>

