<!DOCTYPE html>
<html>
<!--<meta http-equiv="refresh" content="5" >-->

<head>
</head>

<body>

<h1>Result page</h1>
<ul>
  {{#each feedbacks}}
  <li>
  <h1>{{item.feedback}}</h1>
  <h1>{{item.num}}</h1>
  <li>
  {{/each}}
</ul>

</body>
</html>


